<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ц│ихЖМщб╡щЭв</title>
  <style>
    .err{
      color: red;
    }

  </style>
</head>

<body>
<span class="err"><%=errMsg.netWorkErr%></span>
  <form action="http://192.168.43.112:3000/register" method="post">
    ЁЯУощВочо▒ЁЯУоя╝Ъ<input type="email" name="email"><span class="err"><%=errMsg.emailErr%></span><br><br>
    ЁЯМИцШ╡чз░ЁЯМИя╝Ъ<input type="text" name="nick_name"><span class="err"><%=errMsg.nickNameErr%></span><br><br>
    уКЩя╕ПхпЖ&nbsp;чаБуКЩя╕Пя╝Ъ<input type="password" name="password"><span class="err"><%=errMsg.passWordErr%></span><br><br>
    чбошодхпЖчаБ&nbsp;я╝Ъ<input type="password" name="re_password"><span class="err"><%=errMsg.rePasswordErr%></span><br><br>
    <input type="submit">
  </form>
</body>

</html>